.buscador{
    margin: 0;
    margin-bottom: 20px;
    padding: 15px 75px;
    border-color: #06ad;
    font-size: large;
}
.buscador:hover{
    background-color: #aaa;
    color: #333;
}
.table {
    background-color: #06a2;
    padding: 55px;
    border-radius: 5px;
    margin:auto;
    box-shadow: 0px 0px 5px 7px #222;
}

.encabezado{
    background-color: #06ab;
    width: 100%;
    margin: 20px;
}